@font-face {
    font-family: 'kanit';
    src: url(../fonts/Kanit-Light.ttf);
}
*{
    margin:0;
    padding:0;
    color: black;
    font-weight: 900;
    font-family: 'kanit';
}
body{
    background-color: #041919;
}
nav{
    width: 100%;
    height: 100px;
    background-color: #062424;
    display: grid;
    grid-template-columns: 1fr 10fr 2fr ;
    place-items: center;
}
.logo{
    width: 200px;
    height: 100px;
    margin-left: 25px;
}
li{
    list-style: none;
    display: inline;
    position: relative;
    float: left;
    margin-right: 5px;
}
.link, li{
    text-decoration: none;
    color: black;
    font-weight: 900;
    color: #fff0de;
    font-size: 40px;
}
a:hover{
    color: #d25525;
}
.logo-container .logo{
    width: 200px;
    height: 100px;
    margin-left: 25px;
}
.advertencia{
    display: flex;
    justify-content: center;
    color: red;
    padding: 10px;
    font-weight: 900;
    margin: 10px;
}
.verificado{
    display: flex;
    justify-content: center;
    color: green;
    padding: 10px;
    font-weight: 900;
    margin: 10px;
}
.tabla{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    border-collapse:collapse;
}
.tabla th, td, tr{
    border: 2px solid black;
    padding: 10px;
}
th{
    background-color: grey;
    color: white;
}
.btn{
    margin-top: 5px;
    width: 50%;
    background-color: #041919;
    color: #fff0de;
    font-size: 20px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    margin: 15px;
}
.btn:hover{
    transform: scale(110%);
    color: #d25525;
    cursor:pointer;
}
input{
    font-size: 20px;
}
.form-container{
    display: flex;
    justify-content: center;
}
.formulario{
    border: 0px;
    border-radius: 8px;
    background-color: #0e50504e;
    width: 30%;
    padding: 20px;
    color: #fff0de;
    margin: 50px;   
}
h1, h2, p, a{
    color: #fff0de;
    margin-top: 15px;
}
input{
    width: 80%;
    border: 0px;
    border-radius: 8px;
    margin: 15px;
    color: #062424;
}
.descripcion{
    font-size: 20px;
    border-radius: 8px;
    resize: none;

}