@font-face {
    font-family: 'kanit';
    src: url(../fonts/Kanit-Light.ttf);
}
*{
    margin:0;
    padding:0;
    color: black;
    font-weight: 900;
    font-family: 'kanit';
}
body{
    background-color: #041616;
}
/*NAVEGADOR*/
nav{
    width: 100%;
    height: 100px;
    background-color: #062424;
    display: grid;
    grid-template-columns: 1fr 10fr 2fr ;
    place-items: center;
}
.nav-admin{
    width: 100%;
    height: 100px;
    background-color: #062424;
    display: grid;
    grid-template-columns: 1fr 10fr 2fr ;
    place-items: center;
    position:fixed;
}
li{
    list-style: none;
    display: inline;
    position: relative;
    float: left;
    margin-right: 5px;
}
a, li{
    text-decoration: none;
    color: black;
    font-weight: 900;
    color: #fff0de;
    font-size: 30px;
}
a:hover{
    color: #d25525;
}
.logo{
    width: 200px;
    height: 100px;
    margin-left: 25px;
}
/*MINI NAV*/
.intro{
    display: flex;
    justify-content: space-between;
    background-color: #0e5050a8;  
    width: 100%;
    position:fixed;
    top: 100px;
}
.admin-nav{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50px;
}


/*ESTILOS DE AVISOS*/
.advertencia{
    display: flex;
    justify-content: center;
    color: red;
    padding: 10px;
    font-weight: 900;
    margin: 10px;
}
.verificado{
    display: flex;
    justify-content: center;
    color: green;
    padding: 10px;
    font-weight: 900;
    margin: 10px;
}

/*FORMULARIOS*/
.formulario-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.formulario-container h1{
    color: #d25525;
   
}
.formulario-container p{
    color: #fff0de;
    font-size: large;
    margin-bottom: 20px;
}
.formulario{
    padding: 20px;
    width: 30%;
    border: 0px;
    border-radius: 8px;
    background-color: #062424;
}
.formulario h1{
    font-size: xxx-large;
    margin: 20px;
    color: #d25525;
}
.formulario h2{
    color: #fff0de;
    font-size: xx-large;
    margin-bottom: 10px;
}
.formulario p, a{
    margin-top: 10px;
    color: #fff0de;
}

input{
    font-size: 20px;
    padding: 10px;
}
textarea{
    padding: 10px;
}
/*CAMBIAR CONTRASEÑA*/
.cambiar-contraseña{
    font-size: 15px;
    padding: 11px;
    border: 0px;
    border-radius: 10px;
    background-color: #0e5050b3;
    color: rgba(255, 255, 255, 0.621);
    font-weight: 400;
}
.cambiar-contraseña:hover{
    color: #d25525;
    background-color: #0e5050;
    font-weight: 900;
    transform: scale(110%);
}
/*ADMIN BANDAS*/
.tabla{
    width: 100%;
    border-collapse:collapse;
    display: flex;
    justify-content: center;
}
.tabla th, td, tr{
    border: 2px solid black;
    padding: 10px;
    background-color: #093535;
    color: white;
}
/*BANDAS*/
.table-container{
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.table-usuarios{
    width: 100%;
    border-collapse:collapse;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.table-usuarios th, td, tr{
    border: 2px solid black;
    padding: 5px;
}
.table-usuarios input{
    font-size: medium;
    margin: 10px;
    width: 70%;
}

.table-bandas{
    width: 100%;
    border-collapse:collapse;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.table-bandas th, td, tr{
    border: 2px solid black;
    padding: 10px;
}
.table-bandas input{
    font-size: medium;
    margin: 15px;
}
/*NORMAL*/
.table-bandas input, .descripcion{
    border: 0px;
    border-radius: 10px;
    background-color: #0e5050b3;
    color: rgba(255, 255, 255, 0.621);
    font-weight: 400;
}
.table-usuarios input, .descripcion{
    border: 0px;
    border-radius: 10px;
    background-color: #0e5050b3;
    color: rgba(255, 255, 255, 0.621);
    font-weight: 400;
}
/*AL PASAR POR ENCIMA*/
.table-bandas input:hover, .descripcion:hover{
    background-color: #0e5050;
    color: white;
    font-weight: 900;
}
.table-usuarios input:hover, .descripcion:hover{
    background-color: #0e5050;
    color: white;
    font-weight: 900;
}
/*AL ESCRIBIR EN EL*/
.table-bandas input:focus, .descripcion:focus{
    background-color: #0e5050;
    color: white;
    font-weight: 900;
}
.table-usuarios input:focus, .descripcion:focus{
    background-color: #0e5050;
    color: white;
    font-weight: 900;
}

.table-usuarios td{
    background-color: #062424;
}
.table-usuarios th{
    color: white;
    font-weight: bolder;
    font-size: 20px;
    background-color: #0e5050;
}
.table-usuarios th:hover{
    color: #d25525;
    cursor: default;
}

.table-bandas td{
    background-color: #062424;
}
.table-bandas th{
    color: white;
    font-weight: bolder;
    font-size: 20px;
    background-color: #0e5050;
}
.table-bandas th:hover{
    color: #d25525;
    cursor: default;
}

.table-container h1{
    margin-top: 20px;
    color: #d25525;
    font-size: xxx-large;
}

#genero{
    display: flex;
    align-items: center;
    margin-left: 35%;
}

/*BOTONES AGREGAR BANDA*/
.btn-submit{
    margin: 15px;
    width: 50%;
    background-color: #0e500f;
    color: black;
    font-size: 25px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.btn-submit:hover{
    color: #fff0de;
    background-color: #136914;
    transform: scale(110%);
    cursor: pointer;
}
.btn-cancel{
    margin: 15px;
    width: 50%;
    background-color: #500e0e;
    color: black;
    font-size: 25px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.btn-cancel:hover{
    color: #fff0de;
    background-color: #6a1313;
    transform: scale(110%);
    cursor: pointer;
}

/*BOTONES ADMINISTRAR*/
.btn-update{
    margin: 15px;
    width: 60%;
    background-color: #0e5032;
    color: white;
    font-size: 15px;
    padding: 5px;
    border: none;
    border-radius: 10px;
}
.btn-update-usuario{
    margin: 15px;
    width: 80%;
    background-color: #0e5032;
    color: white;
    font-size: 15px;
    padding: 5px;
    border: none;
    border-radius: 10px;
}
.btn-update:hover, .btn-update-usuario:hover{
    transform: scale(110%);
    color: #d25525;
    cursor: pointer;
}
.btn-delete{
    margin: 15px;
    width: 60%;
    background-color: #501d0e;
    color: white;
    font-size: 15px;
    padding: 5px;
    border: none;
    border-radius: 10px;
}
.btn-delete:hover{
    transform: scale(110%);
    color: #d25525;
    cursor: pointer;
}

/*BOTON GENERAL*/
.btn{
    margin: 15px;
    width: 50%;
    background-color: #0e5050;
    color: black;
    font-size: 25px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 15px;
}
.btn:hover{
    transform: scale(110%);
    color: #d25525;
    cursor: pointer;
    font-weight: 900;
}
/*seccion footer*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #062424;
    height: 200px;
    font-family:kanit;
}
footer p{
    color: #fff0de;
    text-align: center;
    padding-top: 35px;
    font-weight: 500;
    font-size: 25px;
}
/*SCROLLBAR*/
::-webkit-scrollbar{
    background-color: #062424;
}
::-webkit-scrollbar-thumb{
    background-color: #0e5050;
    border-radius: 8px;
}

@media screen and (max-width: 768px) {
    .nav-admin{
        width: 100%;
        height: 100px;
        background-color: #062424;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        place-items: center;
        position:fixed;
    }
    .table-bandas{
        width: 100%;
        border-collapse:collapse;
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
    .table-bandas th, td, tr{
        border: 2px solid black;
        padding: 5px;
    }
    .table-bandas input{
        font-size: medium;
        margin: 10px;
        width: 70%;
    }
    .table-usuarios input{
        font-size: medium;
        margin: 5px;
        width: 60%;
    }
    .table-bandas td{
        background-color: #062424;
    }
    .table-bandas th{
        color: white;
        font-weight: bolder;
        font-size: 20px;
        background-color: #0e5050;
    }
    .table-bandas th:hover{
        color: #d25525;
        cursor: default;
    }


    * {
        overflow-x: hidden;
    }
}