@font-face {
    font-family: 'kanit';
    src: url(../fonts/Kanit-Light.ttf);
}
*{
    margin:0;
    padding:0;
    color: black;
    font-weight: 900;
    font-family: 'kanit';
}
body{
    background-color: #fff0de;
}
/*NAVEGADOR*/
nav{
    width: 100%;
    height: 100px;
    background-color: #062424;
    display: grid;
    grid-template-columns: 1fr 10fr 2fr ;
    place-items: center;
}
.logo-container .logo{
    width: 200px;
    height: 100px;
    margin-left: 25px;
}
.nav-container a, .nav-container li{
    font-size: 40px;
}
.user-container a, .user-container li{
    font-size: 20px;
}
li{
    list-style: none;
    display: inline;
    position: relative;
    float: left;
    margin-right: 5px;
}
.nav-list-item-genero .genero-list{
    position: absolute;
    display: none;
    left: 0px;
    right: 0;
    top: 50px;
    background-color: #062424;
    z-index: 2000;
    text-align: center;
}
.genero-list-item{
    place-items: center;
    margin-left: 10px;
}
.genero-list-item a{
    padding: 0px 24px 0px 20px;
    width: 100%;
    text-align: center;
}
.nav-list-item-genero:focus-within>.genero-list, .nav-list-item-genero:hover>.genero-list{
    display: initial;
}
a, li{
    text-decoration: none;
    color: black;
    font-weight: 900;
    color: #fff0de;
    font-size: 30px;
}
a:hover{
    color: #d25525;
}
/*NAVEGADOR*/

/*SECCION ROCK*/
.intro{
    text-align: center;
    background-color: #031414;
}
/*seccion nav*/
.rock-nav{
    display: flex;
    list-style: none;
    width: 100%;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
}
.rock-nav li a {
    text-decoration: none;
    font-size: x-large;
    color: #d25525;
}
.rock-nav li a:hover{
    color: #6e2d13;
}
/*seccion rock*/
hr{
    width: 100%;
    height: 50px;
    border: 0px;
    background-color: #031414;
}
/*contenedores de las bandas*/
.rock-container-uno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 40px;
    background-image: url("../images/rock/Chancho-va-bg.png");
    background-size: cover; 
}
.rock-container-dos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: white;
    padding: 50px;
    background-image: url("../images/rock/karamelo-04.jpeg");
    background-size: cover; 
}
.rock-container-tres{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: white;
    padding: 40px;
    background-image: url("../images/rock/Santo_Tabu_fondo_arreglado.png");
    background-size: cover; 
}
.rock-container-cuatro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: white;
    padding: 40px;
    background-image: url("../images/rock/chantas.png");
    background-size: cover; 
}
.rock-container-cinco{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: white;
    padding: 40px;
    background-image: url("../images/rock/chantas.png");
    background-size: cover; 
}
/*imagenes de las bandas*/
.rock-img{
    height: 500px;
    width: 600px;
    margin-bottom: 24px;
    border-radius: 5%;
}
.rock-img-uno{
    height: 400px;
    width: 420px;
    border-radius: 5%;
}
.rock-img-dos{
    height: 400px;
    width: 420px;
    border-radius: 5%;
}
.rock-img-tres{
    height: 400px;
    width: 420px;
    border-radius: 5%;
}
.rock-img-cuatro{
    height: 400px;
    width: 420px;
    border-radius: 5%;
}
.rock-description{
    color: black;
    text-align: center;
    margin-left: 100px;
    width: 50%;
    background-color: #ffffffc6;
    border-radius: 8px;
    padding: 10px;
}
/*descripcion de las bandas*/
.rock-description-uno{
    color: black;
    text-align: center;
    margin: 0px 100px 0px 100px;
    height: 200px;
    width: 90%;
    background-color: #ffffffc6;
    border-radius: 9px;
    padding: 10px;
}
.rock-description-dos{
    color: black;
    text-align: center;
    margin: 0px 100px 0px 100px;
    height: 200px;
    width: 90%;
    background-color: #ffffffc6;
    border-radius: 9px;
    padding: 10px;
}
.rock-description-tres{
    color: black;
    text-align: center;
    margin: 0px 100px 0px 100px;
    height: 200px;
    width: 90%;
    background-color: #ffffffc6;
    border-radius: 9px;
    padding: 10px;
}
.rock-description-cuatro{
    color: black;
    text-align: center;
    margin: 0px 100px 0px 100px;
    height: 200px;
    width: 90%;
    background-color: #ffffffc6;
    border-radius: 9px;
    padding: 10px;
}
/*FOOTER*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #062424;
    height: 200px;
    font-family:kanit;
}
footer p{
    color: #fff0de;
    text-align: center;
    padding-top: 35px;
    font-weight: 500;
    font-size: 25px;
}
/*BOTON PARTICIPAR*/
.btn-participar{
    width: 15%;
    background-color: #0e50504e;
    border:0;
    border-radius: 10px;
    padding: 10px;
    color: #fff0de;
    font-size: 25px;
}
.btn-participar:hover{
    transform: scale(110%);
    color: #d25525;
    cursor:pointer;
}
/*SCROLLBAR*/
::-webkit-scrollbar{
    background-color: #062424;
}
::-webkit-scrollbar-thumb{
    background-color: #0e5050;
    border-radius: 8px;
}
/*Home Button*/
.flecha{
    border-radius: 100%;
    font-weight: 900;
    color: #fff0de;
    padding: 0 15px 0 15px;
    background-color: #031414;
    margin-bottom: 15px;
}
.flecha:hover{
    transform: scale(110%);
    color: #d25525;
}
