@font-face {
    font-family: 'kanit';
    src: url(../fonts/Kanit-Light.ttf);
}
*{
    margin:0;
    padding:0;
    font-family: 'kanit';
    font-weight: 600;
}

nav{
    width: 100%;
    height: 100px;
    background-color: #062424;
    display: grid;
    grid-template-columns: 1fr 10fr 2fr ;
    place-items: center;
    position:fixed;
}
.logo-container .logo{
    width: 200px;
    height: 100px;
    margin-left: 25px;
}
.nav-container a, .nav-container li{
    font-size: 40px;
}
.user-container a, .user-container li{
    font-size: 20px;
}
li{
    list-style: none;
    display: inline;
    position: relative;
    float: left;
    margin-right: 5px;
}
.nav-list-item-genero .genero-list{
    position: absolute;
    display: none;
    left: 0px;
    right: 0;
    top: 50px;
    background-color: #062424;
    z-index: 0;
    text-align: center;
}
.genero-list-item{
    place-items: center;
    margin-left: 10px;
}
.genero-list-item a{
    padding: 0px 24px 0px 20px;
    width: 100%;
    text-align: center;
}
.nav-list-item-genero:focus-within>.genero-list, .nav-list-item-genero:hover>.genero-list{
    display: initial;
}
a, li{
    text-decoration: none;
    color: black;
    font-weight: 900;
    color: #fff0de;
    font-size: 30px;
}
a:hover{
    color: #d25525;
}
form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.intro{
    background-color: #031414;
    text-align: center;
    color:#fff0de;
    padding: 50px;
    padding-top: 150px;
}
hr{
    width: 100%;
    height: 50px;
    border: 0px;
    background-color: #031414;
}

/*seccion indie*/
.indie-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 50px;
    background-image: url("../images/indie/indie-bg.png");
    background-size: cover;
}
.indie-img{
    height: 400px;
    width: 100%;
    border-radius: 8px;
}
.indie-description{
    border-radius: 8px;
    background-color: #ffffff9f;
    text-align: center;
    margin-left: 100px;
}
.indie-description p{
    padding: 5px 15px 5px 15px;
}
/*seccion pop*/
.pop-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 50px;
    background-repeat: no-repeat;
    background-image: url("../images/inicio/pop-bg.png");
    background-size: cover;
}
.pop-img{
    height: 380px;
    width: 100%;
    border-radius: 8px;
}
.pop-description{
    border-radius: 8px;
    background-color: #ffffff9f;
    text-align: center;
    margin-right: 100px;
}
.pop-description p{
    padding: 5px 15px 5px 15px;
}
/*seccion rock*/
.rock-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 50px;
    background-image: url("../images/inicio/rock-bg.png");
    background-size: cover;
}
.rock-img{
    height: 400px;
    width: 40%;
    border-radius: 8px;
}
.rock-description{
    border-radius: 8px;
    background-color: #ffffff9f;
    text-align: center;
    margin-left: 100px;
}
.rock-description p{
    padding: 5px 15px 5px 15px;
}
/*SECCION SOBRE NOSOTROS*/
.about-us{
    background-color: #031414;
    text-align: center;
    color:#fff0de;
    padding: 300px;
    font-size: 20px;
}
.about-us h2{
    font-size: 40px;
    color: #409595a2;
}
.about-us p{
    color: #fff0de;
}
/*seccion footer*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #062424;
    height: 200px;
    font-family:kanit;
}
footer p{
    color: #fff0de;
    text-align: center;
    padding-top: 35px;
    font-weight: 500;
    font-size: 25px;
}
/**/
.btn-participar{
    width: 15%;
    background-color: #0e50504e;
    border:0;
    border-radius: 10px;
    padding: 10px;
    color: #fff0de;
    font-size: 25px;
}
.btn-participar:hover{
    transform: scale(110%);
    color: #d25525;
    cursor:pointer;
}
/*SCROLLBAR*/
::-webkit-scrollbar{
    background-color: #062424;
}
::-webkit-scrollbar-thumb{
    background-color: #0e5050;
    border-radius: 8px;
}